@font-face {
  font-family: 'Brevia-Medium';
  src:url('fonts/Brevia-Medium.eot');
  src:url('fonts/Brevia-Medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/Brevia-Medium.svg#icomoon') format('svg'),
  url('fonts/Brevia-Medium.woff') format('woff'),
  url('fonts/Brevia-Medium.ttf') format('truetype');} 
