$gray: rgb(232,232,232);

body {
background-color: $gray;
}

#container {
  width: 100%;
  p { display: inline;
 }
 #for-dev {
  position: absolute;
  bottom: 10px;
  right: 20px;
 }
 #initials {
  opacity: .5;
  position: absolute;
  bottom: 10px;
  left: 10px;
 }
  #face { 
    opacity: .7;
    margin: 0 auto;
    width: 605px;
    #eyes {
      margin: 0 auto;
    }
  }
  .eye {
      position: relative;
  }
  img {
  display: inline;
    }
  #mouth { 
    margin: 0 auto;
    width: 50%;
     }
  
}
