body {
  background-color: #e8e8e8; }

#container {
  width: 100%; }
  #container p {
    display: inline; }
  #container #for-dev {
    position: absolute;
    bottom: 10px;
    right: 20px; }
  #container #face {
    margin: 0 auto;
    width: 80%; }
    #container #face #eyes {
      margin: 0 auto;
      width: 60%; }
  #container img {
    display: inline; }
  #container #mouth {
    margin: 0 auto;
    width: 400px;
    display: block; }
