@import 'fonts';

$gray: rgb(232,232,232);

body {
background-color: $gray;
}

#container {
  width: 100%;
  p { display: inline;
 }
 #for-dev {
  position: absolute;
  bottom: 10px;
  right: 20px;
 }
 #bottom-nav {
  position: absolute;
  bottom: 10px;
  right: 20px;
  a {
  font-family: 'Brevia-Medium';
  font-size: 14pt;
  color: #393939;
  text-decoration: none;
  }
  .center-nav {
    margin: 0 10px 0 10px;
  }
 }
 #initials {
  opacity: .5;
  position: absolute;
  bottom: 10px;
  left: 10px;
 }
  #face { 
    opacity: 0.6;
    margin: 0 auto;
    width: 620px;
    #eyes {
      margin: 0 auto;
    }
  }
  .eye {
      position: relative;
  }
  img {
  display: inline;
    }
  #mouth { 
    margin: 0 auto;
    width: 610px;
     }
  
}


